/* Error: Undefined mixin.
 *    ,
 * 22 |   @include mobile-fluid-font(14px, 16px, 320px, 768px);
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   src/styles/mobile-accessibility.scss 22:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 22 \2502    @include mobile-fluid-font(14px, 16px, 320px, 768px);\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   src/styles/mobile-accessibility.scss 22:3  root stylesheet";
}
